# Project exclude paths
/demo_project/demo_cas1/target/
/demo_project/demo_cas2/target/
/demo_project/demo_cas3_springsecurity/target/
/demo_project/demo_sms/target/
/demo_project/dubbo_service/target/
/demo_project/dubbo_web/target/
/sms_service/target/
/youlexuan_parent/youlexuan_cart_interface/target/
/youlexuan_parent/youlexuan_cart_service/target/
/youlexuan_parent/youlexuan_cart_web/target/
/youlexuan_parent/youlexuan_common/target/
/youlexuan_parent/youlexuan_content_interface/target/
/youlexuan_parent/youlexuan_content_service/target/
/youlexuan_parent/youlexuan_dao/target/
/youlexuan_parent/youlexuan_manager_web/target/
/youlexuan_parent/youlexuan_order_interface/target/
/youlexuan_parent/youlexuan_order_service/target/
/youlexuan_parent/youlexuan_page_interface/target/
/youlexuan_parent/youlexuan_page_service/target/
/youlexuan_parent/youlexuan_page_web/target/
/youlexuan_parent/youlexuan_pay_interface/target/
/youlexuan_parent/youlexuan_pay_service/target/
/youlexuan_parent/youlexuan_pojo/target/
/youlexuan_parent/youlexuan_portal_web/target/
/youlexuan_parent/youlexuan_search_interface/target/
/youlexuan_parent/youlexuan_search_service/target/
/youlexuan_parent/youlexuan_search_web/target/
/youlexuan_parent/youlexuan_seckill_interface/target/
/youlexuan_parent/youlexuan_seckill_service/target/
/youlexuan_parent/youlexuan_seckill_web/target/
/youlexuan_parent/youlexuan_sellergoods_interface/target/
/youlexuan_parent/youlexuan_sellergoods_service/target/
/youlexuan_parent/youlexuan_shop_web/target/
/youlexuan_parent/youlexuan_solr_util/target/
/youlexuan_parent/youlexuan_user_interface/target/
/youlexuan_parent/youlexuan_user_service/target/
/youlexuan_parent/youlexuan_user_web/target/